{% extends 'products/base.html' %}

{% block title %}
{% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}

<div class="container my-5">
    <h2 class="my-5">Featured Products</h2>

    <div class="col">
        <div class="sidebar-module">
            <h4>Categories</h4>

            <ol class="list-unstyled">
                <li {% if not category %} class="active" {% endif %}><a href="{% url 'products:product_list' %}">All</a>
                </li>
                <!-- <a href="{% url 'admin:index' %}" class='navbar-link btn-lg'
                    style="background-color:rgba(65, 51, 255, 0.836);color:#000000;">Admin</a>
                <a href="{% url 'products:upload-product' %}" class="navbar-link btn-lg"
                    style="background-color:rgb(51, 255, 245);color:#000000;">Upload product</a> -->
                {% for category in object_list %}

                <li {% if object.category.slug == object.slug %} class="active" {% endif %}>
                    <h6><a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a></h6>
                    <a href="{{ object.category.get_absolute_url }}">{{ object.name }}</a>
                </li>

                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        {% for product in object_list %}
        <div class="col-md-6 col-sm-12 col-lg-3">
            <figure class="card card-product">
                <div class="img-wrap">
                    <img src="media/{{ product.mainimage }}" style="width: 100%; height: 300px;">
                </div>
                <figcaption class="info-wrap">
                    <h6 class="title text-dots"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>

                    <div class="action-wrap">
                        <!-- <a href="cart/{{ product.slug }}" class="btn btn-primary btn-sm"> Add to Cart </a>
            			<a href="cart/" class="btn btn-primary btn-sm"> View Cart </a> -->
                        <!--             <a href="remove/{{ product.slug }}" class="btn btn-danger btn-sm"> Remove</a>
 -->


                        <!-- <center>
                            <a href="update/{{product.id}}" class="btn btn-warning" id='{{product.id}}'>edit</a>
                            <a href="delete/{{product.id}}" class="btn btn-danger" id='{{product.id}}'>delete</a>
                        </center> -->

                        <!-- price-wrap.// -->
                        <div class="price-wrap h5">
                            <span class="price-new">₹{{product.price}}</span>
                            <del class="price-old">₹1980</del>

                        </div>
                    </div> <!-- action-wrap -->
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col // -->

        {% endfor %}
        {% endblock%}